.main-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1F1F1F;
}

.page-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.toolbar {
  flex-grow: 0;
  flex-shrink: 0;
}