.app-list-container {
    display: flex;
    flex-wrap: wrap;
}

.category-header {
    color: white;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-container {
    width: 7rem;
    height: 7rem;
    background-color: #2A2A2A;
    border-radius: 1rem;
    margin: .5rem;
}

.app-desc-container {
    padding: 0 .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.app-title {
    color: white;
    font-size: .8rem;
    max-lines: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-img {
    color: white;
    background-color: red;
    margin-bottom: .25rem;
    flex-shrink: unset;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

svg.app-img {
    padding: .6rem 0;
}