.app-img {
    color: white;
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.app-overlay-container {
    padding: 0;
    position: relative;
    width: 100%;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(20, 20, 20, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay:hover {
    opacity: 1;
}