.app-img {
    color: white;
    background-color: red;
    border-radius: 1rem;
}

div.app-img {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

svg.app-img {
    padding: 1rem;
    max-width: 100%;
    max-height: 100%;
}