.app-container {
    background-color: transparent;
    border: 0px;
    margin: 0rem 1rem;
    width: 5.5rem;
    align-items: stretch;
}

.overlay-button {
    display: flex;
    border-radius: 100%;
    background-color: green;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}

.overlay-button svg {
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: -3px;
    margin-bottom: -1px;
}

.app-desc-container {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 2.5rem;
}

.app-info {
    color: white;
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
    text-align: center;
}

.app-info-more {
    color: gray;
}

.app-title-settings-container {
    display: flex;
    
}