.app-list-container {
    background-color: #2A2A2A;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0;
}

.app-listing-container {
    display: flex;
    flex-wrap: wrap;
}

.category-header {
    color: white;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-all-link {
    color: rgb(0, 132, 255);
}

.view-all-link:hover {
    text-decoration: none;
}